@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-700: var(--primary-700);
    --color-surface-1: var(--surface-1);
    --color-surface-2: var(--surface-2);
}
